
.index_header{
    margin-top: 25px;
    height: 22px;
    overflow: hidden;
    margin-left: 300px;
}

.index_header ul{
    float: right;
    padding: 0px;
    margin: 0px;
}

.index_header_btn{
    font-size: 15px;
    color: #fff;
    background: #0086fa;
    border: none;
}

.index_header ul li{
    display: inline;
    margin-left: 10px;
    font-size: 15px;
}

.index_header ul li:last-child{
    margin-right: 10px;
}

/*未访问颜色*/
.index_header ul li a:link{
    color: black;
}
/*已访问颜色*/
.index_header ul li a:visited{
    color: black;
}
/*鼠标放上去的颜色*/
.index_header ul li a:hover{
    color: blue;
}

.public_container{
    position: relative;
    margin: 0 auto;
    background: goldenrod;
    width:800px;
}

.index_logo{
    text-align: center;
    margin: auto;
    width: 700px;
    height: 300px;
}

.index_logo .index_logo_input{
    width: 540px;
    height: 36px;
    margin: 20px 0px;
    font-size: 20px;
    border: 1px solid darkgray;
    outline-width: 2px;
    outline-color: #0086fa;
}

.index_logo .index_logo_button{
    position: relative;
    width:100px;
    height: 38px;
    background: #0086fa;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 15px;
    border: none;
    left: -8px;
    top:-2px;
}

.index_logo .index_logo_button:hover{
    background: #0077ff;
}


.index_footer{
    margin: 0 auto;
    text-align: center;
    height: 200px;
    font-size: 12px;
    margin-bottom: 10px;
}

.index_footer ul {
	margin-top: 20px;
}

.index_footer ul li{
	display: inline-block;
	margin-left: 10px;
	color: darkgray;
}
.index_footer ul li a{
	color: darkgray;
}

.index_footer_license{
    margin-top: 20px;
    color: darkgray;
}

.index_footer_license a{
	color: darkgray;
	height: 15px;
	overflow: hidden;
}
